body {
  background-color: azure;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#card {
  background-color: white;
  display: flex;
  justify-content: center;
  border: 2px solid gainsboro;
  margin: 5% 20% 5% 20%;
  box-shadow: 5px 8px 8px #888;
}

#paper {
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

#input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

#add,
#edit {
  width: 97.7%;
  border: 0;
  padding: 15px;
  font-size: 18px;
  font-style: italic;
}

#add,
#edit:focus {
  outline-width: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid gainsboro;
}

p {
  margin-left: 10px;
}

footer {
  background-color: ghostwhite;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

footer:hover {
  background-color: gainsboro;
}

#input span {
  transform: rotate(90deg);
  margin-right: 13px;
}
