@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(./assets/DS-DIGIB.TTF) format('woff');
}

body {
  background: url('./assets/light-ring.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Quicksand', Times, serif;
  font-size: 18px;
}

#card {
  background: linear-gradient(to right, rgb(29, 28, 31), #000, #2c2424);
  display: flex;
  justify-content: center;
  margin: 5% 20% 5% 20%;
  font-family: 'Digital', serif;
  color: white;
  text-shadow:
    0 0 8px #fff,
    0 0 12px pink,
    0 0 16px yellow,
    0 0 20px red;
  box-shadow:
    0 0 8px #fff,
    5px 8px 12px pink,
    5px 8px 16px yellow,
    5px 8px 20px red;
}

#paper {
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

#header header {
  font-size: 30px;
  width: 100%;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
}

#input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

#add {
  font-family: 'Digital', Courier, monospace;
  width: 100%;
  height: 50px;
  font-size: 40px;
  border: 0;
  border-radius: 8px;
  background-color: #0d3f35;
  color: white;
  text-shadow:
    0 0 6px #fff,
    0 0 8px yellow,
    0 0 10px orange;
  padding: 7px;
  box-shadow:
    0 0 6px #fff,
    0 0 8px lightgreen,
    0 0 10px #0d3f35;
}

#edit {
  width: 100%;
  border: 0;
  font-family: 'Digital', Courier, monospace;
  font-size: 25px;
  padding: 7px;
  background-color: black;
  color: gray;
  height: 40px;
}

#add,
#edit:focus {
  outline-width: 0;
}

span {
  margin-left: 20px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid gainsboro;
}

p {
  margin-left: 10px;
  font-size: 25px;
}

footer {
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

footer:hover {
  background-color: black;
  text-shadow:
    0 0 6px black,
    0 0 8px black,
    0 0 10px black;
}

#input span {
  transform: rotate(90deg);
  margin-right: 13px;
}
